body{
    font-family:Cursiv;
}
#clock{
    font-size:4em;
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(38, 146, 14);
}
input[type="time"]{
    font-size: 1.2em;
    width:120px;
}
button{
    font-size: 1.5em;
    margin-left:10px;
    cursor: pointer;
    background-color: cornsilk;
    color:black;
}